
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Indie+Flower&family=Kaushan+Script&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");

* {
margin: 0;
padding: 0;
list-style: none ;
    text-decoration: none;
}

:root{
--font-primary:"Dancing Script",serif ;
--font-secundary:"Indie Flower", serif ;
--font-action:"Kaushan Script",serif;

}


.pudding img{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right:2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 2.5s;
}

.show-menu .pudding img{
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color:purple;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition:transform 1s;
}

.pudding-span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    background-color: #7F00FF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;

}
.pudding-span:before{
     content: "";
     position: absolute;
     border-right: .5rem solid #a044ff;
     border-top: .5rem solid transparent;
     border-left: .5rem solid transparent;
     border-bottom: .5rem solid transparent;
     left: 10rem;
     opacity: 0;
}
.show-menu .pudding:hover span{
    opacity: 1;


}


header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.nep-whapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.nep-whapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    animation: zoom  10s ;
   
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top:30%;
    left:10%;

}
.banner h1{
    font-family:var(--font-primary);
    color:#7303c0;
    font-size: 4.5rem;
    font-weight: 200;
    animation:movebanner 1s  ;
    
}
.banner p{
    font-family:var(--font-secundary);
    color: fuchsia;
    font-size: 2.5rem;
    text-shadow: .2rem .2rem  rgba(0, 0, 0,.4);
    margin-bottom: .5rem ;
    animation: movebanner 1s 0.3s ;


}

.banner button{
    font-family: var(--font-action);
    color: rgb(243, 239, 247);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    background: #7F00FF;  
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  
    background: linear-gradient(to right, #E100FF, #7F00FF);
    padding:1rem 3rem;
    border:none;
    border-radius: 5px; 
    cursor: pointer;
    opacity: 0;
    animation: movebanner 1s 0.9s forwards;


}

@keyframes movebanner{ 
    0%{opacity: 0;
    transform: translateY(10rem) rotateY(30deg)
    }
    100%{
        transform:translateY(0) rotateY(0);
        opacity:1;

    }
}

.sidebar {
    width: 20rem;
    height:  100vh ;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: 2s;
}

.show-menu .sidebar{
    right: 0rem;
}


      .menu {
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50% , -50%);
        
        
        
     }

    
   
    
        .menu-item {
            text-align: center;
            display: flex;
            justify-content: center;
        
            
            
    }
    
    .menu-link  {
          font-family: var(--font-action);
          color:rgb(42, 165, 214);
          text-shadow: .2rem .2rem  rgba(0, 0, 0,.4);
          font-size: 2.5rem;
          transition: color 1s;
          margin-bottom: 1rem;
        

    }
    
    .menu-link:hover {

        color: white;
    }

   .social-media  {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

    }
    
    .social-media i{
        color:blue;
        height: 2.5rem;
        width: 2.5rem;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;


    }
    .social-media i:hover {
    color:black;
    }
    

    .CPUs {
        display: grid;
        grid-template-columns: repeat(16 , 1fr);
        grid-template-rows: repeat(8, 6rem);
        row-gap: 4r;
    }

    
    .CPUs:nth-child(1){
        grid-column: 1/ 5;
        grid-row:1 / 5;
    }

    .CPUs:nth-child(2){
        grid-column: 1 / 5;
        grid-row:6/ -1;
    }

    .CPUs:nth-child(3){
        grid-column: 11 / 14;
        grid-row: 1/ 5;
    }

    .CPUs:nth-child(4){
        grid-column: 11 / 14;
        grid-row: 6/ -1;
    }

    
    .sessao-CPU {
        width: 100%;
        height: 100%;
        animation:colors 5s  infinite ;
    }

    @keyframes colors {
        0% {
          background-color:  #a3afd6 ;
        }
        50% {
          background-color: #9fbbee ;
        }
        75% {
          background-color: #b2ecf7 ;
        }
        100%{
          background-color: #c3eef5 ;
        }
      }
    

    .sessao-header{
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: outset;

    }

    .sessao-header h1{
        font-family: var(--font-primary);
        font-size: 3rem;
        color:black;
        border-bottom: solid 3px black;
        margin-bottom: 1rem;
        position: relative;
    }

    .CPU-header {
        display: flex;
        align-items: center;
    }

    .CPU-header i{

        font-size: 2.5rem;
        color: #a044ff;

    }


    .CPU-header h3{
        font-family: var(--font-secundary);
        font-size: 2.5rem;
    }

    .CPU-text{
        font-family: var(--font-secundary);
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .CPUs-img-whapper {
        grid-column: 7 / 11;
        grid-row: 4 / 6 ;
        width: 100%;
    }
     
    .CPUs-img-whapper img{
        object-fit: cover;
        width:100%;
    }

        

.CPU-header img{
    width: 2rem;
    height: 2rem;
}
.sessao-story{
    background-color:  rgb(61, 109, 172);

}

.story{
    display: flex;
    justify-content: space-evenly;
    background-color:  rgb(61, 109, 172);
}

.card {
    width: 18rem;
    height: 28rem;
    position: relative;
background-color: seashell;
}

.card-img-whapper{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.card-img-whapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: 1;
    transition: opacity 2s;
    justify-content: left;
}
.card-info {
    opacity: 0;
    visibility: hidden;
position: absolute;
bottom: 0;
padding: 2rem;
text-shadow: 0 0 .2rem .3rem rgba(0, 0, 0,.4);
transition: all 2s;
}

.card-info h2 {
    font-family: Var(--font-secundary);
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(136, 40, 136);
    margin-bottom: 1rem;



}


.card-info h3 {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: bolder;
    color: rgb(58, 11, 104);
    margin-bottom: 1rem;

}


.card-info p {
    font-size: 1rem;
    font-family: var(--font-action);
    color: black;
    font-weight: bold;
    margin-bottom: 1.5rem;


}
.btn {
    font-family: var(--font-action);
    font-size: 1rem;
    background: #7F00FF;  
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  
    background: linear-gradient(to right, #E100FF, #7F00FF);
    border-radius: .5rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0,.4);

}

.card-info button{
    width: 9rem;
    height: 3rem;
}

.card:hover .card-info{
    opacity: 1;
    visibility: visible;
}

.card:hover .card-img-whapper{
    opacity: 0.4;
    background-color: gray;
}
.sessao-register{
    width: 100%;
    height: 100vh;
    background-color: rgb(61, 109, 172);
    display: flex;
    align-items: center;
    justify-content: center;
}


.register-whapper {
width: 60%;
height: 30rem;
display: flex;
box-shadow: 0.2rem .3rem  rgb(202, 146, 193, 0.5) ;

}


.register-left{
    width: 100%;
    background:url("Img/VVVtune.jpg");
    background-size: cover;
    object-fit: cover;

}

.register-right{
    width: 19%;
    height: 30rem;
    position: absolute;
    top: 331.5%;
    right: 20%;
    background:white;
    padding: 1rem 7rem 7rem 5rem 5rem;
}
.sessao-register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
    
.sessao-register h1{
    font-family: var(--font-action);
     font-size: 2.0rem;
     text-align: center;
     margin-bottom: 2rem;
}

.input-group{
    position: relative;
}

.input-group textarea{
    max-width: 10rem;
    max-height: 5rem;
}


.field{
    background: transparent;
    border: none;
    font-size: 1rem;
    font-family: var(--font-secundary);
    border-bottom: double 1px;
    height: 1.5rem;
    outline: none;
    margin-bottom: 3.5rem;

}
.field-label {
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    font-family: var(--font-primary);
    transition: 1s;


}

.field:focus ~ label{
    top:-1.5rem
}
 
.field:focus {
    border-bottom: 1px solid;
}

.btn-submit {
    font-size: 1.2rem;
    width: 80%;
    height: 2.5rem;
}